body{
    background:#123;
}
.login-form{
   width:600px;
   height: auto;
   margin:100px auto;
   padding:20px;
   background-color: #fff;
}
.login-form form *{
   text-align:start;
   margin-left:20px;
}
#email,#password,input,select{
   padding:8px;
   color:black;
   width:94%;
   margin-right:20px;
}
#login-btn{
   background-color:#347931;
   padding:5px;
   width:80px;
   border-radius:50px
}